* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
    min-height: 100vh;


}

h1 {
    color: antiquewhite;
}

.button-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 128px;
    background-color: rgba(255, 255, 255, 0.877);
    margin-top: 50px;
    max-height: 180px;
    min-width: 800px;
    border-radius: 50px;
    box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
    border: silver 2px solid;

}

.button-container button {
    height: 150px;
    width: 150px;
    font-size: 32px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgba(109, 107, 110, 0.548);


}

.result {
    font-size: 50px;
    color: white;
    margin-top: 8px;
}

.scores-container {
    min-height: 100;
    width: 200;
    margin-top:50px;
    max-height: 100px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 524px;
    width: 800px;
    
}

.scores-container p:nth-child(1) {
    padding-left: 60px;
    
}


.scores-container p:nth-child(2) {
    padding-right: 60px;
}

.score {
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    color: antiquewhite;
}

.player-names-container {

    border-top: 0;
    border-left: 0;
    border-right: 0;

    margin-top: 25px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 830px;
    color: antiquewhite;


}

#computer {
    justify-self: end;
    
    text-decoration: red underline;

}

#player {
    justify-self: start;
    padding-left: 60px;
    text-decoration: green underline;
}

.player-names-container div {
    font-size: 50px;
}

.vs-txt
{
    margin-left: 70px;
}

img {
    width: 100%;
    object-fit: fill;
    border-radius: 50%;

}

button {
    margin: 0;
    padding: 0;
}

.select-display-container
{
    margin-bottom: 48px;
}


.select-display-container,
.history-container {
    
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    
    
    width: 800px;
}

.history-container
{
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    width: 300px;
    
}
.select-display-container div {
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
}

.picture-container
{
    height: 40px;
    width: 40px;
    
}

.picture-container img
{
    opacity: .8;
}

.player-display {
    justify-self: start;
    margin-left: 60px;
}

.computer-display {
    justify-self: end;
    margin-right: 60px;
}



.history-container div:nth-child(2)
{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: underline;
    
}

.win
{
    color: green;
}

.tie
{
    color: antiquewhite;
}

.lose
{
    color: red;
}


.header
{
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(109, 107, 110, 0.2);
}

.title
{
    font-size: 24px;
    max-width: 250px;
    justify-content: center;
    color: wheat;
}


.footer
{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.877);
    max-height: 50px;
    margin-top: 50px;
}

.links
{
    list-style: none;
    display: flex;
    gap: 64px;
    font-size: 18px;
    color: black;
    margin-left: -30px;
    
}

a
{
    text-decoration: none;
    color: rgb(30, 7, 51);
    font-weight: 600;
}

.rounds-txt
{
    color:antiquewhite;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.total-history
{
    display: flex;
    flex-direction: column-reverse;
    
    width: 300px;
    
}


